---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-3 xl text-orange lg:text-5xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Spent four years in University and received my Bachelor of Arts in Marine Affairs. During my senior year I took an internship with the Maine Lobstermen's Association sending emails, taking phone calls, and data entry. I was also tasked with updating the website with new information. I previously had no experience in website design but using a software like WordPress made editing and updating easier. Now working on a Google Certificate on UX Design to further my knowledge and help create websites and apps with user experience at the for front.
		</p>
	</div>
</section>
